<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5WQc29SsCpTiC7RsYsIFOrlLgHMu1i4U</string>
	<key>GCM_SENDER_ID</key>
	<string>351738810212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authApp</string>
	<key>PROJECT_ID</key>
	<string>challenge-as</string>
	<key>STORAGE_BUCKET</key>
	<string>challenge-as.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351738810212:ios:78045651a72fac7991f471</string>
	<key>DATABASE_URL</key>
	<string>https://challenge-as-default-rtdb.firebaseio.com</string>
</dict>
</plist>